.i-slide-content {
  position: relative;
  .van-grid-item {
    .van-grid-item__content {
      background: transparent;

      padding-bottom: 8px;
      span {
        margin-top: 10px;
        font-size: 13px;
      }
    }
  }
  .i-slide-content-default {
    text-align: center;
    font-size: 16px;
    margin-top: 100px;
    color: #5c6f77;
  }
}
