.i-slide-content {
  .van-grid-item {
    .van-grid-item__content {
      background: transparent;

      padding-bottom: 8px;
      span {
        margin-top: 10px;
        font-size: 13px;
      }
    }
  }
}
