.I-input {
  .van-cell {
    background: rgb(230, 107, 87);
  }
  .van-field__left-icon {
    margin: 0 11px;
    height: 49px;
    .my-icon-sortfenlei {
      &::before {
        font-size: 22.5px;
        line-height: 49px;
        color: wheat;
      }
    }
  }

  .van-field__body {
    .van-field__control {
      font-size: 14px;
      background: white;
      height: 30px;
      border-radius: 20px;
      padding-left: 20px;
    }
    .van-field__right-icon {
      padding: 0;
      margin: 0 11px;
      .my-icon-cart {
        &::before {
          font-size: 26px;
          line-height: 50px;
          color: wheat;
        }
      }
    }
  }
}
